APP_URL=http://localhost
APP_DEBUG="false"
APP_NAME=Nova

DB_DRIVER=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=nova
DB_USER=root
DB_PASS=

SESSION_LIFETIME=120

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME=
